/* Example of @import use
This imports the `reset.css` file */

@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

ul {
  list-style-type: none;
}

li {
  padding: 1px;
}

body {
  font-family: Lobster, cursive;
  font-size: larger;
  margin: 0;
}

.books-container {
  padding: 0;
}

.header {
  margin: 0;
  text-align: center;
  color: goldenrod;
  background-color: black;
  padding: 10px;
  box-shadow: 0 3px 4px gray;
}

.book-texts {
  display: block;
}

input {
  font-family: Lobster, cursive;
  display: block;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  width: 50%;
  border: 2px solid goldenrod;
  height: 30px;
}

input:focus {
  outline: none;
  border: none;
  background-color: #f9efe2;
}

.card-ul {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.parent-li {
  display: flex;
  width: 98%;
  height: 50px;
  margin: 3px auto;
  justify-content: space-around;
  align-items: center;
  transition: all 200ms linear;
}

.book-ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.parent-li:hover {
  transform: scale(1.03);
  width: 87%;
  border-radius: 10px;
  transition: all 200ms linear;
}

.parent-li:nth-child(even) {
  background-color: grey;
}

.parent-li:nth-child(odd) {
  background-color: burlywood;
}

.buttons {
  font-family: Lobster, cursive;
  padding: 5px;
  margin: 5px;
  background-color: gold;
  border: none;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

.buttons:active {
  background-color: goldenrod;
}

.add {
  margin-top: 10px;
}

.book-title {
  margin-top: 30px;
}
